.footerContainer {
  background-color: rgb(255, 234, 249);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  min-height: 170px;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  flex-wrap: wrap;
  align-content: center;
}

.contactsContainer {
  display: flex;
  flex-direction: column;
}

.socialsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  font-size: 20px;
  background-image: url(../../../../public/whatsapp.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: transform 0.3s;
}

.social:hover {
  transform: scale(1.2);
}

@media (width <= 414px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}