
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item1 {
  background-color: cornflowerblue;
}

.item2 {
  background-color: coral;
}

.item3 {
  background-color: darkcyan;
}